
.ControlPanel {
    position: fixed;
    background-color: #2a5abbdc;
    height: 100%;
    width: 300px;
    margin-left: -300px;
    top: 0px;
    right:0px;

    align-items: left;
    justify-content: center;
    color: white;
    z-index: 10;
}