.Debug {
    position: fixed;
    /* background: linear-gradient(rgba(186, 67, 216, 0.212), rgba(228, 221, 221, 0) ,  rgba(186, 67, 216, 0.212)); */
    height: 100%;
    width: 70%;
    top: 0px;
    left:0px;
    /* display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    align-items: center;
    justify-content: center; */
    /* color: white; */
    z-index: 10;
    pointer-events: none;

}

.DebugBox1{
    position: absolute;
    bottom: 50px;
    left: 20px;
    background:  linear-gradient(rgba(67, 132, 216, 0.267), rgba(66, 28, 28, 0),rgba(67, 132, 216, 0.267)) ;
    box-shadow: 5px 5px 5px  rgba(66, 28, 28, 0.2);
    border-radius: 20px;
    height: 300px;
    width: 300px;
}