.MapStateLabel {
    position: fixed;
    display: block;
    background:rgba(129, 124, 77, 0);
    bottom: 20px;
    left: 5px;
    width: 100px;
    height: 20px;
    z-index: 2;
    font-family: arial, sans-serif;
    
    font-kerning: none;
  }
  