.App {
  font-family: sans-serif;
  background: red;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  color: rgba(243, 24, 43, 0.849);
  user-select: none;
  width: 100%;
  height: 100%
}

.Buttons {
  width: 40px;
}

.ClockController {
  position: fixed;
  
  margin: auto;
  top: 0px;
  width: 20px;
  height: 20px;
  z-index: 2003;
  font-size: 20px; 
  font-kerning: none;
  right: 15px;
  
}
.TimeLabel {
  position: fixed;
  margin: auto;
  background:rgba(77, 91, 129, 0);
  top: 0px;
  width: 400px;
  height: 80px;
  z-index: 2000;
  font-family: verdana;
  text-shadow: 2px 2px  rgba(43, 48, 5, 0.226);
  font-kerning: none;
  font-size: 20px; 
  left: 50%;
  margin-left: -200px;
}
.Fullscreen {
  position: fixed;
  z-index: 2000;
}
.TimeSwipe {
  position: fixed;
  bottom: 1px;
  background: rgb(77, 91, 129);
  width: 100%;
  z-index: 2001;
}
.TimeSelectorh {
  position: fixed;
  bottom: 0px;
  left: 0px;
  margin-left: 0px;
  width: 100%;
  height: 100px;
  z-index: 2001;
}
.TimeSelectorv {
  position: fixed;
  top: 0px;
  right: 0px;
  margin-top: 0px;
  width: 100px;
  height: 100%;
  z-index: 2001;
}

.Globe {
  position: fixed;
  background: black;
  top: 0;
  left:0px;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.Miniglobe {
  position: fixed;
  box-shadow: 2px 2px 5px rgba(37, 38, 39, 0.397);
  background:  linear-gradient(rgb(67, 124, 199), #111) repeat scroll 0 0 #222;
  height: 100px;
  width: 200px;
  top: 20px;
  left: 20px;
  z-index: 2; 
}
