.App {
  font-family: sans-serif;
  text-align: center;
  background: red;
  color: blue;
}

.Time {
  position: fixed;
  top: 50;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100px;
  width: 100%;
  z-index: 2000;
}
