.TimeContainer {
    position: relative;
    background: rgba(26, 60, 99, 0);
    font-family: verdana, sans-serif;
    text-shadow: 1px 1px 3px  rgba(43, 48, 5, 0.826);
    overflow: hidden;

}

.Mask {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(47, 99, 26, 0);
    -webkit-mask-image: linear-gradient(to right, rgba(42, 177, 42, 0), rgba(0,0,0,1), rgba(48, 139, 151, 0));
    -mask-image: linear-gradient(to right, rgba(42, 177, 42, 0.514), rgba(0,0,0,1), rgba(0, 0, 0, 0.425));
}
.Mask-v {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(47, 99, 26, 0);
    -webkit-mask-image: linear-gradient(to bottom, rgba(42, 177, 42, 0), rgba(0,0,0,1), rgba(48, 139, 151, 0));
    -mask-image: linear-gradient(to bottom, rgba(42, 177, 42, 0.514), rgba(0,0,0,1), rgba(0, 0, 0, 0.425));
}



.TimeScale {
    position: relative;
    right: 65px;


    
}

.DayTic {
    position: absolute;
    pointer-events: none;
    font-size: 12px; 
    bottom: 10px
}
.Time {
    position: absolute;
    pointer-events: none;
    font-size: 12px; 
    bottom: 50px
}
.MonthTic {
    position: absolute;
    pointer-events: none;
    font-size: 2px; 
    bottom: 25px
}
.YearTic {
    position: absolute;
    pointer-events: none;
    font-size: 20px; 
    margin-left: 50px;
    bottom: 25px
}
.HourTic {
    position: absolute;
    pointer-events: none;
    font-size: 10px; 
    color: rgba(235, 214, 119, 0.5);
    top: 80px
}
.Mire {
    position: absolute;
    left: 50%;
    bottom: 9px;
    margin-left: -1px;
    width: 2px;
    height: 48px;
    width: 20px;
    height: 15px;
    background: rgba(82, 210, 219, 0);
    border-radius: 5px;
    border-style: solid;
    border-color: var(--color);
    border-width: 1px;

}
.TriangleContainer {
    position: absolute;
    top: 50%;
    right:0px;
    margin-top: -30px;
    width: 20px;
    height: 40px;

}
.Triangle {
    fill: var(--color);
    stroke: var(--color);
    stroke-width: 1;
}
.DayTic-v {
    position: absolute;
    pointer-events: none;
    font-size: 16px; 
    right: 10px
}
.Time-v {
    position: absolute;
    pointer-events: none;
    font-size: 12px; 
    top: 53px;
    right: 30px;
}
.MonthTic-v {
    position: absolute;
    pointer-events: none;
    font-size: 14px; 
    right: 6px;
    margin-top: 15px
}
.YearTic-v {
    position: absolute;
    pointer-events: none;
    font-size: 10px; 
    margin-top: 30px;
    right: 6px
}
.HourTic-v {
    position: absolute;
    pointer-events: none;
    font-size: 10px; 
    color: rgba(235, 214, 119, 0.5);
    top: 80px
}
.Mire-v {
    position: absolute;
    top: 50%;
    right:8px;
    margin-top: -0px;
    width: 20px;
    height: 15px;
    background: rgba(226, 29, 62, 0.829);
    border-radius: 5px;
    border-style: solid;
    border-color: var(--color);
    border-color: rgba(226, 29, 62, 0.829);
    border-width: 1px;


}
