.TimeContainer {
    position: relative;
    background: rgba(26, 60, 99, 0.0);
    overflow: hidden;
<<<<<<< HEAD
    font-family: verdana;
    text-shadow: 2px 2px  rgba(43, 48, 5, 0.226);
    color: rgba(235, 38, 23, 0.5);
    font-kerning: none;
=======
>>>>>>> 72b06e915026d9e8897770a9b9c3ce5a2fa11f88
 

}

.TimeScale {
    position: relative;
    white-space: nowrap;
    background: rgba(26, 60, 99, 0);
    font-family: verdana;
    text-shadow: 2px 2px  rgba(43, 48, 5, 0.226);
    font-kerning: none;
<<<<<<< HEAD
    bottom: 3px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    height: 40px;
    background: rgba(214, 51, 45, 0.61);
=======

>>>>>>> 72b06e915026d9e8897770a9b9c3ce5a2fa11f88
}

.DayTic {
    position: absolute;
    pointer-events: none;
    font-size: 12px; 
    bottom: 10px
}
.MonthTic {
    position: absolute;
    pointer-events: none;
    font-size: 15px; 
    bottom: 25px
}
.YearTic {
    position: absolute;
    pointer-events: none;
    font-size: 20px; 
    margin-left: 50px;
    bottom: 25px
}
.HourTic {
    position: absolute;
    pointer-events: none;
    font-size: 10px; 
    color: rgba(235, 214, 119, 0.5);
    top: 80px
}
.Mire {
    position: absolute;
    left: 50%;
    bottom: 0px;
    margin-left: -1px;
    width: 2px;
    height: 48px;
    background: rgba(181, 82, 219, 0.315);

}
.DayTic-v {
    position: absolute;
    pointer-events: none;
    font-size: 12px; 
    right: 10px
}
.MonthTic-v {
    position: absolute;
    pointer-events: none;
    font-size: 15px; 
    right: 30px
}
.YearTic-v {
    position: absolute;
    pointer-events: none;
    font-size: 20px; 
    margin-top: 30px;
    right: 30px
}
.HourTic-v {
    position: absolute;
    pointer-events: none;
    font-size: 10px; 
    color: rgba(235, 214, 119, 0.5);
    top: 80px
}
.Mire-v {
    position: absolute;
    top: 50%;
    right:0px;
    margin-top: 0px;
    width: 40px;
    height: 48px;
    background: rgba(181, 82, 219, 1)

}
